# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
+.g.dart
+.freezed.dart

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Flutter plugins
.flutter-plugins

# CocoaPods
ios/Pods/
ios/.symlinks/
macos/Pods/
macos/.symlinks/

# Keystores and secrets
*.jks
*.keystore
key.properties
android/key.properties
*.env
.env*

pubspec.lock
# Google services configurations (often ignored in open-source)
# google-services.json
# GoogleService-Info.plist
*.g.dart
*.gr.dart
*.freezed.dart
*.config.dart
*.mocks.dart
*.tailor.dart

# Mason cache/lock for local bricks
.mason/
mason-lock.json
/lib/core/utils/assets/
